# Conexão com o banco de dados

In [10]:
import sys
!{sys.executable} -m pip install duckdb numpy pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: duckdb in /home/salvatoregx/.local/lib/python3.13/site-packages (1.2.2)
Requirement already satisfied: numpy in /home/salvatoregx/.local/lib/python3.13/site-packages (2.2.5)
Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/salvatoregx/.local/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/salvatoregx/.local/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 32.4 MB/s eta 0:00:00m eta 0:00:01:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [pandas]━━━━━━━━━━━ 2/3 [pandas]
Successfully installed pandas-2.2.3 pytz-2025.2 tzdata-2025.2

In [11]:
import duckdb
con = duckdb.connect("pi2_solucao_hospitalar.db")

# Listar 5 pacientes

In [12]:
pacientes = con.sql("SELECT * FROM paciente LIMIT 5").fetchdf()
print(pacientes)

  id              nome          cpf
0  1      Shawn Arnold  57849679524
1  2     Connie Garcia  94266128412
2  3  Stefanie Jackson  35878790955
3  4       Kerry Evans  73086732114
4  5    Amanda Summers  46529443198

# Total de internações por setor

In [15]:
internacoes_setor = con.sql("""
    SELECT s.setor, COUNT(i.id) AS total
    FROM internacao i
    JOIN sala s ON i.id_sala = s.id
    GROUP BY s.setor
""").fetchdf()
print(internacoes_setor)

        setor  total
0  Emergência     12
1    Cirurgia      6
2  Radiologia      7
3         UTI      8

# Análise de Equipamentos Ativos

In [16]:
equipamentos_ativos = con.sql("""
    SELECT e.modelo, COUNT(a.id) AS total_ativos
    FROM equipamentoativo a
    JOIN equipamento e ON a.id_equipamento = e.id
    GROUP BY e.modelo
""").fetchdf()
print(equipamentos_ativos)

                modelo  total_ativos
0  Modelo_equipamento1             3
1  Modelo_equipamento4             3
2  Modelo_equipamento3             6
3  Modelo_equipamento2             3